---
interface Props {
    text: string;
    href: string;
    size?: "sm" | "md";
}

const { text, href, size = "md" } = Astro.props;
---

<a href={href} class={`cta-button cta-button--${size}`}>
    {text}
</a>

<style>
    .cta-button {
        display: block;
        width: 100%;
        background-color: var(--orange);
        color: var(--white);
        border-radius: 30px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
        text-align: center;
    }

    .cta-button--md {
        padding: 12px 24px;
    }

    .cta-button--sm {
        padding: 12px 16px;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .cta-button:hover {
        background-color: var(--purple);
        transform: translateY(-3px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .cta-button:active {
        transform: scale(0.95);
    }
</style>
