---
import Layout from "../layouts/Layout.astro";
import { createAstroTranslator } from "../utils/i18n";
import Hero from "./sections/Hero.astro";
import Techniques from "./sections/Techniques.astro";
import Testimonials from "./sections/Testimonials.astro";
import Pricing from "./sections/Pricing.astro";
import OpenSessions from "./sections/OpenSessions.astro";
import GiftCards from "./sections/GiftCards.astro";
import ExperienceSteps from "./sections/ExperienceSteps.astro";
import Gallery from "./sections/Gallery.astro";
import Contact from "./sections/Contact.astro";

const currentPath = Astro.url.pathname;
const t = createAstroTranslator(Astro.currentLocale, "main");
---

<Layout currentPath={currentPath}>
    <main class="main-page">
        <Hero />
        <Techniques />
        <Testimonials />
        <Pricing />
        <OpenSessions />
        <GiftCards />
        <ExperienceSteps />
        <Gallery />
        <Contact />
    </main>
</Layout>

<style>
    .main-page {
        width: 100%;
        overflow-x: hidden;
    }
</style>
